@model AMS.Models.Payments

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="panel-white">
    <div class="panel-body">

    </div>
    <h4>Payments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Explanation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Explanation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Explanation2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Explanation2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Explanation3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Explanation3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionType.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SignType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SignType.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cash)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cash.Defenition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractDetail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractDetail.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CostType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CostType.Defenition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IncomeType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncomeType.Defenition)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
