@model IEnumerable<AMS.Models.GetPaymentDuration>

@{
    ViewData["Title"] = "Index";
}

@{ int rowNo = 0;}

<style>
    thead input {
        width: 100%;
    }
</style>



<!-- end: TOOLBAR -->
<!-- end: PAGE HEADER -->
<!-- start: BREADCRUMB -->
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="active">
                Əməliyyatlar
            </li>
            <li class="active">
                Borclar
            </li>
        </ol>
    </div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: PAGE CONTENT -->

<div class="panel panel-white">
    <div class="panel-heading">

        <div class="panel-tools">
            <div class="dropdown">
                <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                    <i class="fa fa-cog"></i>
                </a>
                <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                    <li>
                        <a class="panel-expand" href="#">
                            <i class="fa fa-expand"></i> <span>Fullscreen</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="panel-body">
        <div class="table-responsive table-responsive-lg table-responsive-md table-responsive-sm table-responsive-xl" style="margin-bottom:0%" ;>
            <table class="table table-bordered table-hover display" id="paymentDurations" style="width:99.8%">
                @*<table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse !important; border-spacing: 0 !important; width: 100% !important;">*@
                <thead>
                    <tr>
                        <th>
                            №
                        </th>
                        <th>
                            Borc
                        </th>
                        <th>
                            Müqavilə nömrəsi
                        </th>
                        <th>
                            Xidmət növü
                        </th>
                        <th>
                            Müştəri
                        </th>
                        <th>
                            Ödəyəcəyi tarix
                        </th>
                        <th>
                            Səbəb
                        </th>
                        <th>
                            Qeydə alınma tarixi
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @(rowNo += 1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContractId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SupportTypeDefenition)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reason)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateDate)
                            </td>
                            <td class="center">
                                <div class="visible-md visible-lg hidden-sm hidden-xs row">
                                    <a class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Əlavə et" onclick="NewDuration(@item.ContractDetailId)"><i class="fa fa-plus"></i></a>
                                    <a class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Dəyişdir" onclick="EditDuration(@item.Pdid)"><i class="fa fa-edit"></i></a>
                                </div>
                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                    <div class="btn-group">
                                        <a class="btn btn-green dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                            <i class="fa fa-cog"></i> <span class="caret"></span>
                                        </a>
                                        <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                            <li>
                                                <a role="menuitem" tabindex="-1" href="#">
                                                    <i class="fa fa-edit"></i> Dəyişdir
                                                </a>
                                            </li>
                                            <li>
                                                <a role="menuitem" tabindex="-1" href="#">
                                                    <i class="fa fa-times"></i> Sil
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th style="font-weight:bold;color:#5B626B">Səifə toplamı</th>
                        <th style="font-weight:bold;color:#5B626B"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th id="val"></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="NewDuration">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4><i class="fa fa-building"></i>&nbsp; Ödənişin gecikmə səbəbi</h4>
            </div>
            <div class="modal-body" id="myNewDuration">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditDuration">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4><i class="fa fa-building"></i>&nbsp; Gecikmə səbəbi (dəyişdir)</h4>
            </div>
            <div class="modal-body" id="myEditDuration">

            </div>
        </div>
    </div>
</div>

<script>
    function NewDuration(id) {
        var url = "/GetPaymentDurations/NewDuration?id=" + id;
        $("#myNewDuration").load(url, function () {
            $("#NewDuration").modal("show");
        })
    }
    function EditDuration(id) {
        var url = "/GetPaymentDurations/EditDuration?id=" + id;
        $("#myEditDuration").load(url, function () {
            $("#EditDuration").modal("show");
        })
    }
</script>

<script>
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#paymentDurations thead tr').clone(true).appendTo('#paymentDurations thead');
        $('#paymentDurations thead tr:eq(1) th').each(function (i) {
            var title = $(this).text();
            $(this).html('<input type="text" />');

            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
        });

        var table = $('#paymentDurations').DataTable({
            orderCellsTop: true,
            fixedHeader: true
        });
    });
</script>
